{% extends "layout.html" %}

{% block title %}
View Block
{% endblock %}

{% block body %}
<h1 color = blue> Block Details: </h1>


<ul>
  <li>
    <h3 color=green> Block Index: {{ block['index'] }} </h3>
  </li>
  <li>
        <h3 color=green> Block Type: {{ block['type'] }} </h3>
  </li>

  <li>
    <h3 color=green> TimeStamp: {{ block['timestamp'] }} </h3>
  </li>
  <li>
    <h3 color=red> Nonce: {{ block['nonce'] }} </h3>
  </li>
  <li>
    <h3 color=green> Previous Hash: {{ block['previous_hash'] }} </h3>
  </li>
  <li>
    <h3 color=red> Hash: {{ hash }} </h3>
  </li>
  <li>
    <h3 color=green> Transactions: </h3>
    <ol>
      {% for transaction in block['transactions']%}
      <p>
        <li>
            <h4> Design Title: {{transaction['name']}} </h4>

            <img src= "{{url_for('static', filename = transaction['filename'])}}" alt="Alternative Text" width = "75%">
        </li>
      </p>

  {% endfor %}
  </ol>
</ul>
{% endblock %}
