{% extends "layout.html" %}

{% block title %}
View Block
{% endblock %}

{% block body %}
<h1 color="blue"> Block Details: </h1>


<ul>
  <li>
    <h3 color=green> Block Index: {{ block['index'] }} </h3>
  </li>
  <li>
        <h3 color=green> Block Type: {{ block['type'] }} </h3>
  </li>
  <li>
    <h3 color=green> TimeStamp: {{ block['timestamp'] }} </h3>
  </li>
  <li>
    <h3 color=red> Nonce: {{ block['nonce'] }} </h3>
  </li>
  <li>
    <h3 color=green> Previous Hash: {{ block['previous_hash'] }} </h3>
  </li>
  <li>
    <h3 color=red> Hash: {{ hash }} </h3>
  </li>
  <li>
    <h3 color=green> Transactions: </h3>
    <ol>
      {% for transaction in block['transactions']%}

      <li>
        <ul>
          <li>
            <h4> Name of the product: {{transaction['productinfo']}} </h4>
          </li>
          <li>
            <h4> Product Number: {{transaction['num']}} </h4>
          </li>
          <li>
            <h4> Processes Completed: </h4>
            <ul>
                {% for process in transaction['process']%}
                <li> <h5> {{process}} </h5> </li>
                {% endfor %}
            </ul>
          </li>

        </ul>
      </li>
  </li>

  {% endfor %}
  </ol>
</ul>
{% endblock %}
