{% extends "layout.html" %}

{% block title %}
View Block
{% endblock %}

{% block body %}
<h1> Block Details: </h1>


<ul>
  <li>
    <h3 color=green> Block Index: {{ block['index'] }} </h3>
  </li>
  <li>
        <h3 color=green> Block Type: {{ block['type'] }} </h3>
  </li>

  <li>
    <h3 color=green> TimeStamp: {{ block['timestamp'] }} </h3>
  </li>
  <li>
    <h3 color=red> Nonce: {{ block['nonce'] }} </h3>
  </li>
  <li>
    <h3 color=green> Preious Hash: {{ block['previous_hash'] }} </h3>
  </li>
  <li>
    <h3 color=red> Hash: {{ hash }} </h3>
  </li>
  <li> <H2 color=blue> This is the origin Block, It has no transactions </h2>

</ul>
{% endblock %}
