{% extends "layout.html" %}
{%block title%}
LOGIN PAGE
{% endblock %}

{% block body %}
<div class='float-right'> <a href="{{url_for('get_chain')}}" class="btn btn-primary">View the Blockchain</a> </div>
<h1 color = "Blue">Upload Design</h1>
<form action="{{ url_for('upload_design') }}" method="post" enctype="multipart/form-data">

  <div class="form-group" margin=20px>
    <input class="form-control" name="name" placeholder="Design name (design will be saved as this file-name)" margin=20px>
  </div>

  <div class="form-group">
    <label color ="blue"> Select Design Image:</label>
    <div class = "custom-file">
      <input type="file" class="custom-file-input" name="design" id="design">
      <label class = "custom-file-label" for ="image"> Select image... </label>
    </div>
  </div>
  <p>
  <div class="alert alert-success" role="alert">
    Message: {{ message }}
  </div>

  </p>
  <div class="form-group">
    <div class='float-right' margin=20px> <a href="{{url_for('mine_design')}}" margin=20px class="btn btn-primary">Mine
        block</a> </div>

    <button class="btn btn-primary">Add design to block</button>
  </div>
  {% endblock %}
